# This file is to help with local testing only. It is not used in production.

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 5001:5001
    env_file:
      - resources/config/dev/dev.env
    networks:
      - mynetwork

networks:
  mynetwork:
    driver: bridge
